SALT=python -c "import secrets; print(secrets.token_hex(32))"
GEOIP_DB_PATH=your_GEO_DB_PATH
DATABASE_URL=postgresql+asyncpg://user:password@host:port/db
REDIS_URL=redis://redis-container:6379/0
SECRET_KEY=your_secret_key
DOMAIN=http://localhost:8000


POSTGRES_USER=db_username
POSTGRES_PASSWORD=db_password
POSTGRES_DB=your_db
POSTGRES_PORT=your_port
POSTGRES_HOST=your_host